/*#wrapper{
    background-color: gray;
    width: 1000px;
    

}

h1{
    display: inline-block;
    width: 300px;
    margin: 0px auto;
    
}

.desc{
    display: inline-block;
    border: 1px solid black;
    margin-left: 20px;
}*/

/*Will be adding styles at a later date.*/